// Placeholder to allow defining custom styles that override everything else.
// (Use `_sass/minima/custom-variables.scss` to override variable defaults)
.pagination {
    margin-left: 0;
    margin-bottom: 5px;
}


.post-content{

    .footnotes {
        margin: 1em auto;
        border-top:1px solid #999;
        padding-top: 10px;
        font-size: 15px;
    }

    .footnotes::before{
        content: "相关链接：";
        color: #333;
        font-weight: bold;
        font-family: "微软雅黑";
        font-size: 14px;
        display:block;
        margin-bottom: 5px;
    }

    h1, h2, h3{
        margin-top: 36px;
    }

    h3{
        font-family: "微软雅黑", "宋体", "黑体", Arial;
        color:#000022; 
        background-color: rgb(245,250,255);
        padding: 2px 6px;
        border-radius: 1px 22px 0 1px;
        border-left: dotted 1px rgba(180, 200, 255, .8);
        border-right: dotted 1px rgba(180, 200, 255, .5);
        font-size: 1.5rem;
    }

    h3::before{
        content: "§";
        color: #335;
        font-family: "微软雅黑";
        font-size: 1rem;
        line-height:1.6;
        margin-right:6px;
    }

    sup {
        font-style: normal;
    }

    sup .footnote::before{
        content: "[";
    }

    sup .footnote::after{
        content: "]";
    }

    blockquote{
        font-size: 1.05rem;
    }
}